<div class="container-fluid mb-5">
  <h1 style="text-align: center;">
    Enrollment Form
  </h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

<!-- 
    {{ userForm.value | json }}
    <hr />
    {{userModel | json }} -->

    <!-- <div ngModelGroup="address">
      
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" name="Street" ngModel="userModel.name">
    </div>

    
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" ngModel="userModel.email">
    </div>

    
    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" ngModel="userModel.ph">
    </div>

    
    <div class="form-group">
      <label>Postal Code</label>
      <input type="text" class="form-control" name="Postal" ngModel>
    </div>

    </div> -->

    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" 
      [class.is-invalid]="name.invalid && name.touched"
      class="form-control" name="Username" [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is Required</small>
    </div>
    

    <!-- {{name.className}} -->

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email"  [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="number" required #Phno="ngModel" pattern="^\d{10}$" 
      [class.is-invalid]="Phno.invalid && Phno.touched" class="form-control" name="Phno"  [(ngModel)]="userModel.Phno">
      <!-- <small class="text-danger" [class.d-none]="Phno.valid || Phno.untouched">Must Required and  Contain 10 Digit Number</small> -->
      <div *ngIf="Phno?.errors && (Phno.invalid || Phno.touched)">
        <small class="text-danger" *ngIf="Phno?.errors?.required">Phone number is Required</small>
        <small class="text-danger" *ngIf="Phno?.errors?.pattern">Phone Number must be 10 Digit</small>
      </div>
    </div>


    <div class="form-group">
      <select required #topic="ngModel" [class.is-invalid]="topic.invalid && topic.touched" class="custom-select"  name="topic"  [(ngModel)]="userModel.topic">
        <option value="">I am interested in</option>
        <option *ngFor="let topic of topics" >{{ topic }}</option>
        <small class="text-danger" [class.d-none]="topic.valid || topic.untouched">Topic is Required</small>
      </select>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input"  [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="morning">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input"  [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="evening">
        <label class="form-check-label">Evening (5PM - 9PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="subscribe"  [(ngModel)]="userModel.subscribe">
      <label class="form-check-label"></label>
      Send me Offer Available
    </div>

    <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>


  </form>

</div>